body {
    background-color: #AEC7C1;
    font-family: 'Raleway';font-size: 22px;
}
h1 {
    color: darksalmon;
    text-shadow: 0.5px 0.5px black;
    font-weight: bold;
}

h3{
    font-weight: bold;
}
p {
    color: #202121;
}
div {
    width: 450px;
    padding: 20px;
    border: 5px solid slategrey);
    margin: 50; 
}

img {
    width: 25%;
    height: auto;
}
